body {
    background-color: white;
    color: darkslategrey;
    font-family: 'Open Sans', sans-serif;

    /*border-style: solid;
    border-left: 0px;
    border-right: 0px;
    width: 1210px;*/
}

#navvy{
    float: right;
    background-color: slategrey;
    color: white;
}

.navbar-header{
    background-color: slategrey;

}

/*.pageHeader.img{
    height: 348px;
    width: auto;
}*/

.mainVilla {
    background-image: url('../Images/tuscany-villas-sant-anna whole house.jpg');
    height: 348px;
    width: 75%;
    text-align: center;
    /*padding-right: 0px;*/
}

.widebar{
    /*this style is for the blue bars going across the screen.
        maybe only needs centering?
    */
    text-align: center;
    clear: left;
    clear: right;
    background-color: slategray;
    color: white;
}

/*.parasAndPics img{
    height: 350px;
    width: 500px;
}*/

#snow{
    height: 350px;
    width: 500px;
    float: right;
    padding: 20px 20px 20px 20px;
    /*clear: left;*/
}

.pnpTwo{
    clear: right;
    background-color: slategrey;
    color: white;
}

#modern{
    height: 350px;
    width: 500px;
    float: left;
    padding: 20px 20px 20px 20px;
    clear: right;
}

.pnpThree{
    clear: left;
}

#grapes{
    height: 350px;
    width: 500px;
    float: right;
    padding: 20px 20px 20px 20px;
    clear: left;
}


.img.gridOfNine{ /*should this be for nineImages instead? or will text stuff here work too?
                     and is it .img.gridOfNine for photos only?
                     or can I just gridOfNine for everything?
                 */
    width: 250px;
    height: auto;
}

.gridOfNine{ /* or is it gridOfNine.p? or gridOfNine p?*/
    height: 348px;
    width: auto;

}

.ninePara{
    text-align: center;
    vertical-align: middle;
    height: 400px;
    width: auto;

}

.nineImage{
    text-align: center;
    vertical-align: middle;
    height: auto;
    width: 100%;

}

.nineCenter{

    color: white;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: rgba(80, 80, 80, .8);
    padding: 15px;

    
}

.Carousel{
    text-align: center;
    vertical-align: middle;
    height: 348px;
    background-color: white;
}

.myFooter{
    text-align: center;
}

.pnpText{
    margin: 30px 30px 30px 30px;
}

/*#snow {
    width: 400px;
    height: auto;
}

#modern {
        width: 400px;
    height: auto;
}

#grapes{
        width: 400px;
    height: auto;
}*/

q{
    font-style: italic;
}

.glyphicon{
    color: slategrey;
}