body {
    background-color: white;
    color: darkslategrey;
    font-family: 'Open Sans', sans-serif;
}

#navvy{
    float: right;
    background-color: slategrey;
    color: white;
}

#navvy a{
    color: white;
}

#navvy a:hover{
    color: slategrey;
}

.navbar-glyphicon{
    color: white; /*this is TRYING to make the hamburger whitel; didn't work*/
}

.mainVilla {
    background-image: url('../Images/tuscany-villas-sant-anna whole house.jpg');
    height: 348px;
    width: 75%;
    text-align: center;
    background-repeat: no-repeat;
    color: white;
}

.widebar{
    /*this style is for the bluegrey bars going across the screen.*/
    text-align: center;
    clear: left;
    clear: right;
    background-color: slategray;
    color: white;
    padding-top: 30px;
    padding-bottom: 30px;
}

.buttonGrey{ /*style of buttons on white background*/
    background-color: slategrey;
    color: white;
    margin: 20px;
    padding: 5px;
}

.buttonWhite{ /*style of buttons on grey background*/
    background-color: white;
    color: slategrey;
    margin: 20px;
    padding: 5px;
}

#snow{
    height: 350px;
    width: 500px;
    float: right;
    padding: 20px 20px 20px 20px;
    margin: 20px;
}

.pnpTwo{
    clear: right;
    background-color: slategrey;
    color: white;
}

#modern{
    height: 350px;
    width: 500px;
    float: left;
    padding: 20px 20px 20px 20px;
    clear: right;
    margin: 20px;
}

.pnpThree{
    clear: left;
}

#grapes{
    height: 350px;
    width: 500px;
    float: right;
    padding: 20px 20px 20px 20px;
    clear: left;
    margin: 20px;
}

.img.gridOfNine{ /*I don't think this winds up being used, besides, not sure of syntax*/
    width: 250px;
    height: auto;
}

.gridOfNine{ /*ditto*/
    height: 348px;
    width: auto;
}

.ninePara{
    text-align: center;
    vertical-align: middle;
    height: 400px;
    width: auto;
}

.nineImage{
    text-align: center;
    vertical-align: middle;
    height: 348px;
    width: 100%;
}

.nineCenter{
    color: white;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: rgb(80, 80, 80); /*fallback color for old browsers*/
    background: rgba(80, 80, 80, .8);
    padding: 15px;
}

.carousel-inner{
    text-align: center;
    align-items: center;
    vertical-align: middle;
    background-color: white; /*worked the first night, but never since*/
    width: 100%;
    height: auto;
    padding: 50px;
    color: slategrey;
}

.contactForm{
    padding-top: 30px;
    padding-bottom: 30px;
}

.myCommentBar{
    width: 300px;
    padding: 10px;
}

.myCommentBox{
    padding: 10px;
}

.mySubmit{
    float: right;
}

.myFooter{
    text-align: center;
    background-color:slategrey;
    color: white;
    padding-top: 30px;
    padding-bottom: 30px;
    clear: left; 
    clear: right;
}

.pnpText{
    margin: 30px 30px 30px 30px;
}

q{
    font-style: italic; /*quotes in the carousel are "" and italics*/
}

.glyphicon{
    color: black; /*all glyphicons made black so they can be seen against both backgrounds*/
}

.glyphicon-navbar .glyphicon-myFooter{
    color: white; /*this was one of my attempts to make some of the glyphicons white. didn't work.*/
}