body {
    /*padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
    padding-bottom: 10px;*/

    border-style: solid;
    border-left: 100px #ff0000;
    border-right: 100px #fff060;
    width: 1210px;
}

#navvy{
    float: right;
}

/*.pageHeader.img{
    height: 348px;
    width: auto;
}*/

.mainVilla {
    background-image: url('../Images/tuscany-villas-sant-anna whole house.jpg');
    height: 348px;
    text-align: center;
    padding-right: 0px;
}

.widebar{
    /*this style is for the blue bars going across the screen.
        maybe only needs centering?
    */
    text-align: center;
}

.parasAndPics{
    height: 348px;
    width: auto;
}

#snow {
    width: 400px;
    height: auto;
}
/* why are these size things working??*/
#modern {
        width: 400px;
    height: auto;
}

#grapes{
        width: 400px;
    height: auto;
}

.img.gridOfNine{ /*should this be for nineImages instead? or will text stuff here work too?
                     and is it .img.gridOfNine for photos only?
                     or can I just gridOfNine for everything?
                 */
    width: 250px;
    height: auto;
}

.gridOfNine{ /* or is it gridOfNine.p? or gridOfNine p?*/
    height: 348px;
    width: auto;

}

.ninePara{
    text-align: center;
    vertical-align: middle;
    height: 400px;
    width: auto;

}

.nineImage{
    text-align: center;
    vertical-align: middle;
    height: 400px;
    width: auto;

}

#myCarousel{
    text-align: center;
    vertical-align: middle;
    height: 348px;
    background-color: purple;
}

.footer{
    text-align: center;
}
